.div-modificar-svg1{
    display: block;
}

.div-modificar-svg2{
    display: none;
}

.div-modificar{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.div-modificar:hover .div-modificar-svg1{
    display: none;
}

.div-modificar:hover .div-modificar-svg2{
    display: block;
}

.div-modificar:active{
    transform-origin: center;
    transform: scale(0.9);
}



.div-eliminar-svg1{
    display: block;
}

.div-eliminar-svg2{
    display: none;
}

.div-eliminar{
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.div-eliminar:hover .div-eliminar-svg1{
    display: none;
}

.div-eliminar:hover .div-eliminar-svg2{
    display: block;
}

.div-eliminar:active{
    transform-origin: center;
    transform: scale(0.9);
}
